{% extends 'base.html' %}
{% load markdownify  %}

{% block content %}

    <div class="buttons is-right">
        <a href="{% url 'questions:new_question' %}" class="button is-warning is-rounded">➕</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id. pregunta</th>
                <th>Texto</th>
                <th>Respuestas</th>
                <th>Variablidad</th>
            </tr>markdownify 
        </thead>
        {% for question in questions %}
            <tr>
                <th>
                    <a class="button is-info" 
                       href="{% url 'questions:question_detail' pk=question.pk %}">
                        ✎ <b>{{ question.pk }}</b>
                    </a>
                </th>
                <td>{{ question.text|markdownify}}</td>
                <td><span class="tag is-info">{{ question.num_answers }}</span></td>
                <td><span class="tag is-info">{{ question.get_variability }}</span></td>
                <td>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}
