{% extends 'base.html' %}

{% block content %}

    <div class="buttons is-right">
        <a href="{% url 'new_question' %}" class="button is-warning is-rounded">➕</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id. pregunta</th>
                <th>Texto</th>
                <th>Respuestas</th>
                <th>Editar</th>
            </tr>
        </thead>
        {% for question in questions %}
            <tr>
                <th>
                    <b>{{ question.pk }}</b>
                    </a>
                </th>
                <td>{{ question.text }}</td>
                <td>{{ question.num_answers }}</td>
                <td>
                    <a class="button is-info" href="/questions/{{ question.pk }}/">✎</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}
