{% extends "base.html" %}
{% load static markdownify crispy_forms_tags %}

{% block javascript %}
<script charset="utf-8">
    console.log('ok');
</script>

{% endblock javascript %}

{% block content %}
    
<div class="box">
<h2>Pregunta {{ question.pk }}</h2>

<h3>{{ question.text|markdownify }}</h3>
</div>

<form action="." method="POST" accept-charset="utf-8">
{% csrf_token %}

<div class="fixed-grid has-1-cols-mobile has-4-columns-desktop">
<div class="grid">
{% for letter,answer in answers.items %}

  <div class="box">


  <article class="media p-2">
  <figure class="media-left">
    <p class="image is-64x64">
    <a role="button" 
       href="{% url 'chk_answer' pk=answer.pk %}"
       id="letter_{{ letter }}">
    <img src="{% static 'questions/img/' %}{{ letter }}.svg"
         with="64" height="64"
         alt="Optión {{ letter }}">
    </a>
    </p>
    </form>
  </figure>
  <div class="media-content">
    <div class="content">
        <h4>{{ answer.text|markdownify }}</h4>
    </div>
  </article>
  </div>
{% endfor %}
</div>
</div>


{{ form.as_p }}

</form>

{% endblock content %}
