{% extends "base.html" %}
{% load static markdownify crispy_forms_tags questions %}

{% block content %}
    
<h2>Preguntas</h2>

<h3 class="h3 is-main">{{ question.text|markdownify }}</h3>


<div>
{% for tag in question.tags.all %}
  <span class="tag is-info" style="color: {{ tag.color.foreground_color }}; background-color: {{ tag.color }}">
      {{ tag }} 
    </span>
{% endfor %}
{% if question.source %} ( {{ question.source|markdownify }}) {% endif %}
<span class="tag is-info variability">&times; {{ question.get_variability }}</span>
</div>


<div class="buttons is-right">
  <a href="{% url 'questions:edit_question' pk=question.pk%}"
    class="button is-info is-rounded">✎ Editar pregunta</a>
  <a href="{% url 'questions:new_question' %}"
    class="button is-info is-rounded">➕ Nueva pregunta</a>
  <a href="{% url 'questions:new_answer' pk=question.pk %}"
    class="button is-warning is-rounded">➕ Añadir respuesta</a>
  <a href="{% url 'ask_question' pk=question.pk %}"
    class="button is-small is-info is-rounded">
    <img src="{% static 'img/is-question.svg' %}" alt="Preguntar" 
     width="64" height="64">
  </a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Id. respuesta</th>
            <th>Texto</th>
            <th>Es correcta</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody> 
    {% for answer in answers %}
      <tr>
        <td>{{ answer.pk }}</td>
        <td>
            {% if answer.is_correct %}<b>{% endif %}
            {{ answer.text|markdownify }}.
            {% if answer.is_correct %}</b>{% endif %}
        </td>
        <td>{{ answer.is_correct|as_bool|safe }}</td>
        <td>
            <a href="{% url 'questions:edit_answer' pk=answer.pk %}"
               class="button is-warning is-circle">
            ✎ Editar
        </td>
      </tr>
  {% endfor %}
    </tbody>

</table>

<div class="box">
    <h3>Añadir respuesta</h3>

{% crispy form %}
</div>


{% endblock content %}
