{% extends "base.html" %}
{% load crispy_forms_tags markdownify %}

{% block content %}
    
<h2>Buscar en la base de datos de preguntas y respuestas</h2>

{% crispy form %}

{% if results %}
<table class="table">
    <caption>{{ num_results }} resultados</caption>
    <thead>
        <tr>
            <th>Id. pregunta/respuesta</th>
            <th>tipo</th>
            <th>Texto</th>
        </tr>
    </thead>
    <tbody>
      {% for result in results %}
          <tr>
              <td>
                  <a href="{{ result.url }}"
                     role="button"
                     class="button is-info">
                  {{ result.pk }}
                  </a>
              </td>
              <td>
                  {% if result.tag == 'Q' %}
                      <label class="tag is-primary">Pregunta</label>
                  {% else %}
                      <label class="tag is-info">Respuesta</label>
                {% endif %}
              </td>
              <td>
                  <b>{{ result.text }}</b>
                  {% if result.tag == 'A' %}
                    <br><small>(De la pregunta {{ result.answer.question.pk }}:
                        <b>{{ result.answer.question.text }}</b>
                  {% endif %}
              </td>
          </tr>
      {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock content %}
