<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if titulo %}{{ titulo }} | {% endif %}Matraka</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  </head>
  <body>
    
    {% include "navbar.html" %}

  <section class="section">
    <div class="container">

      <section class="hero">
          <div class="hero-body">
            <p class="title">Matraka</p>
            <p class="subtitle">Aprende a base de ser pesado!</p>
        </div>
    </section>

    <main class="content">
    {% block content %}
        
    {% endblock content %} 
    </main>

    </div>
  </section>

  {% block javascript %}
      
  {% endblock javascript %}
  
  </body>
</html>
