{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{% static 'art/logo.svg' %}" width="160" height="160" alt="Matraka!">  
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-link">
          <a href="/">  
        Inicio
          </a>
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="{% url 'new_question' %}">
              <b>Añadir pregunta</b>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item is-selected">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-search">
        <form method="post" action="{% url 'search' %}">  
            {% csrf_token %}
            <input class="input search" name="query"
                    value="{% if query %}{{ query }}{% endif %}"
                    type="search" placeholder="Buscar">
            <button class="button is-info">
            Buscar
            </button>
        </form>
      </div>
    </div>
  </div>
</nav>
